img, .login, .t2{
    margin: 0;
    margin-left: 30px;
}

img{
    margin-top: 33px;
    width: 33px;
    height: 34px;
}

.login{
    font-size: 35px; 
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 14px;
}

.t2{
    font-size: 13px;
}

.id{
    width: 370px;
    height: 43px; 
    font-size: 13px;
    font-weight: 500;
    border-color: rgb(31, 30, 30);;
    border-radius: 5px; 
    border-width: 1px;
    margin-bottom: 5px;
}

.id::placeholder{
    color: rgb(31, 30, 30);
}

a{
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: rgb(11, 87, 208);
}

.guest_t{
    font-size: 12px;
    color: rgb(31, 30, 30);
    margin-top: 35px;
}

button{
    background-color: rgb(11, 87, 208);
    font-size: 12px;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
}

body{
    display: flex;
    background-color: rgb(240, 244, 249);
}

.card{
    display: flex;
    width: 1000px;
    height: 320px;
    gap: 100px;
    border: none;
    border-radius: 25px;
    background-color: white;

}

.left{
    flex: 1;
}
.right{
    flex: 1;
    margin-top: 87px;
    margin-right: 30px;
}

.button_g{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0 200px
}
